

h1 {
  margin-top: 1em;
  padding-top: 1em;
}h1 {
  color: rgb(12, 143, 219);
}

h3 {
color:  rgb(50, 178, 221); 

}
body {
  margin: 0 auto;
  max-width: 50em;
}
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
body {
  line-height: 1.5;
  padding: 4em 1em;
}

body {
  color: #555;
}
.violet {
color:  darkviolet;
}
.violet {
color:  darkviolet;
}

.yellow {
color:   orange;
}

.yell {
color:   orange;
}
.yell {
color:   orange;
}
.yell {
color:   orange;
}
.red {
color:   red;
}
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
  color: green

}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}